[submodule "fj-bom"]
	path = fj-bom
	url = https://github.com/fugerit-org/fj-bom.git
	branch = main
[submodule "fj-lib"]
	path = fj-lib
	url = https://github.com/fugerit-org/fj-lib.git
	branch = develop
[submodule "fj-doc"]
	path = fj-doc
	url = https://github.com/fugerit-org/fj-doc.git
	branch = develop
[submodule "fj-daogen"]
	path = fj-daogen
	url = https://github.com/fugerit-org/fj-daogen.git
	branch = develop
